html {
  height: 100%;
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: auto auto;
  padding: 5px 0;
  @media (max-width: $max-width) {
    padding: 5px 10px;
  }
}

.grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "navbar main"
                       "footer footer";
  @media (max-width: $s) {
   grid-template-columns: 100%;
   grid-template-areas: "navbar"
                        "main"
                        "footer";
  }
  @supports not (display: grid) {
    content: "";
    display: table;
    clear: both;
  }
}

.navbar {
  grid-area: navbar;
  @supports not (display: grid) {
    @media (min-width: $s) {
      width: 20%;
      float: left;
    }
  }
}

.main {
  grid-area: main;
  @supports not (display: grid) {
    @media (min-width: $s) {
      width: 80%;
      float: right;
    }
  }
}

footer {
  grid-area: footer;
  width: 100%;
}

.border {
  margin: 0;
  padding: 20px;
  @media (max-width: $s) {
    padding: 20px 10px;
  }
}
