$max-width: 1200px;
$base-px: 16px;
$s: 800px;

$accent: #0000B8;

@mixin border($border) {
  #{$border}: 3px solid $accent;
}

body {
  font-size: $base-px;
  font-family: 'Chivo', sans-serif;
  color: #292929;
  background-color: #FEE0E1;
  max-width: $max-width;
  margin: auto auto;
  padding: 5px 0;
  @media (max-width: $max-width) {
    padding: 5px 10px;
  }
}

@mixin unlist() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  @include unlist();
}
