footer {
  position: relative;
  top: -3px;
  p {
    position: relative;
    top: 3px;
  }
  @media (min-width: $s) {
    padding: 40px 5px;
  }
  @media (max-width: $s) {
    padding: 30px 10px;
  }
}
