.home {
  h1 {
    @include border(border-left);
    color: $accent;
    padding-bottom: 10px;
  }
  h2 {
    margin-top: 0;
    padding-top: 0;
    line-height: 1.5em;
    &:first-of-type {
      @include border(border-left);
      padding-bottom: 0;
    }
    &:nth-of-type(2) {
      @include border(border-left);
      @include border(border-bottom);
    }
    @media (max-width: $s) {
      line-height: 1.25em;
      &:first-of-type {
        padding-bottom: 10px;
      }
    }
  }
  h3 {
    margin-top: 5px;
  }
}

.first {
  @include border(border-right);
  @include border(border-bottom);
}

.second {
  @include border(border-left);
  @include border(border-bottom);
}

.me {
  width: 100%;
  max-width: 1500px;
  filter: saturate(90%) blur(0.2px);
  border: 30px solid #EDEDEE;
  @media (max-width: $s) {
    border-width: 20px;
  }
}
