---
layout: base
---

<h2>Writing</h2>

<ul class="writing-filter">
  <li><a href="/writing/">All</a></li>
  <li><a href="/writing/pop+culture">Pop Culture</a></li>
  <li><a href="/writing/tech">Tech</a></li>
  <li><a href="/writing/politics">Politics</a></li>
</ul>

<ul class="writing-index">
  {% assign articles = site.data.writing | sort: 'date' | reverse %}
  {% for article in articles %}
    {% if article.tags contains page.tag %}
      <li>
        <a href="{{ article.link }}">{{ article.title }}</a>
        <p>{{ article.date | date_to_long_string }}</p>
        <p>{{ article.synopsis }}</p>
        <ul class="tags">
          {% for tag in article.tags %}
            <li>
              {% if tag == "All" %}
                <a href="/writing/">{{ tag }}</a>
              {% else %}
                <a href="/writing/{{tag | downcase | url_encode}}">{{ tag }}</a>
              {% endif %}
            </li>
          {% endfor %}</ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
